header, nav, div, span, section, aside, article, figure, figcaption, footer {
    border: 1px black solid;
    padding: 20px;
}

header {
    background-color: #FFED74;
}

nav {
    background-color: #E8C66A;
}

aside {
    background-color: #FFC675;
}

article {
    background-color: #E89C6C;
    width: 33%;
}

footer {
    background-color: #FF957E;
}

div, section {
    background-color: #FFE2B8;
}

figure {
    background-color: #a17230;
}

figcaption {
    background-color: #a76e1e;
}